body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.starOn {
	color: #0065FC;
}

.starOff {
	color: #d9d9d9;
}


/* HEADER START */

nav {
	display: flex;
	text-align: center;
}

.navLink:hover {
	color: #0065FC;
}

.registerBtn {
	color: #0065FC;
}


/* HERDER END */


/* SEARCH SECTION START */

#searchBlock h1 {
	margin: 0;
	font-size: 1.3rem;
}

#searchBlock p:nth-child(1) {
	font-size: 0.9rem;
	margin-top: 5px;
}

form {
	border-radius: 15px;
	border: 1px solid transparent;
	display: flex;
	flex-direction: row;
}

form>* {
	border: 1px solid #F2F2F2;
	padding: 15px;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}

form>input::placeholder {
	color: black;
	opacity: 1;
}

label {
	border-radius: 15px 0 0 15px;
	background-color: #F2F2F2;
}

.mapSearchIcone {
	border-color: transparent;
}

button {
	background-color: #0065FC;
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
}

.searchBlock div:nth-child(1) {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0;
}

#searchBlock h2 {
	font-size: 1.0rem;
	padding-right: 25px;
}

#searchBlock ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	font-size: 1.0rem;
}

#searchBlock a {
	margin: 10px 15px 10px 0;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 15px 0 0;
	border: 2px solid #d9d9d9;
	border-radius: 30px;
	font-weight: bold;
	color: black;
}

#searchBlock a:hover {
	border: 2px solid #F2F2F2;
	background-color: #0065FC;
	color: white;
	transition: .3s;
}

.filterIcon {
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	transform: scale(1.11);
	background-color: #deebff;
	border-radius: 50%;
	color: #0065FC;
}

.infoParagraph {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.infoParagraph p {
	margin: 0;
}

.iconInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	font-size: 0.7rem;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	margin-right: 5px;
}

.iconInfo i {
	color: #0065FC;
}


/* SEARH SECTION END */


/* ACCOMMODATION SECTION START */

.firstBlock {
	display: flex;
	margin: 0;
	padding: 0;
}

#accommodation {
	padding: 30px 15px 40px 40px;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#accommodation>div {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.accommodationDivImg {
	overflow: hidden;
	width: auto;
	height: 110px;
	border-radius: 20px 20px 0 0;
}

.accommodationImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#accommodation figure {
	margin: 0;
	padding: 5px;
}

#accommodation h3 {
	margin: 5px 0 0 10px;
}

.accommodationPrice {
	margin: 0 0 5px 15px;
}

.starList {
	margin: 0 0 0 15px;
	font-size: 0.7rem;
}

#accommodation * a {
	height: 210px;
	background-color: white;
	margin: 10px 25px 25px 0;
	border-radius: 25px;
	font-size: 0.9rem;
	display: block;
	border-radius: 25px;
	box-shadow: 2px 2px 30px rgb(201, 201, 201), -2px -2px 30px rgb(201, 201, 201);
}

#accommodation * a:hover .accommodationImg {
	transform: scale(1.1);
	transition: .5s;
}

#accommodation * a:hover {
	transform: scale(1.05);
	transition: .5s;
}

.accommodationMoreDisplay {
	font-size: 1.0rem;
	text-decoration: none;
	color: black;
}


/* ACCOMMODATION SECTION END */


/* POPULAR ASIDE START */

aside {
	margin: 0;
	padding: 30px 35px 0 35px;
	background-color: #F2F2F2;
}

.asideHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.asideGraphIcon {
	font-size: 1.4rem;
}

aside article {
	background-color: white;
	border-radius: 25px;
}

.asideDivImg {
	position: relative;
	overflow: hidden;
}

.asideImg {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.asideInfo {
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
}

.asideStarList {
	font-size: 0.6rem;
}

.asideInfo>div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 15px;
}

.asidePrice {
	margin: 0 5px 0 0;
}

aside h3 {
	margin: 5px 5px 5px 0;
}

aside a {
	margin: 10px 0 30px 0;
	border-radius: 25px;
	display: block;
	box-shadow: 2px 2px 30px rgb(201, 201, 201), -2px -2px 30px rgb(201, 201, 201);
}

aside a:hover {
	transform: scale(1.05);
	transition: .5s;
}

aside a:hover .asideImg {
	transform: scale(1.1);
	transition: .5s;
}


/* POPULAR ASIDE END */


/* ACTIVITY SECTION START */

#activity {
	display: flex;
	flex-direction: column;
	margin: 40px 0 60px 0;
}

#activity h2 {
	margin: 40px 0;
}

.activityBlockLeft,
.activityBlockRight {
	display: flex;
}

.activityDivImg {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 30px 30px 0 0;
}

.activityImg {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#activity h3 {
	margin: 0;
	padding: 0 20px;
}

#activity figcaption {
	height: 80px;
	display: flex;
	align-items: center;
}

#activity figure {
	box-shadow: 2px 2px 15px rgba(201, 201, 201, 0.5), -2px -2px 15px rgba(201, 201, 201, 0.5);
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#activity figure:hover .activityImg {
	transform: scale(1.1);
	transition: .5s;
}

#activity figure:hover {
	transform: scale(1.05);
	transition: .5s;
}


/* ACTIVITY SECTION END */


/* FOOTER START */

footer {
	font-size: 1rem;
	margin: 20px 0 0 0;
	padding: 40px 0 0 0;
	background-color: #F2F2F2;
	display: flex;
	width: auto;
}

footer ul {
	list-style: none;
	padding: 0 0 30px 0;
	margin: 0;
}

footer li {
	margin-bottom: 15px;
}

footer li:hover {
	text-decoration: underline;
}

footer div {
	padding: 0 50px;
}


/* FOOTER END */

@media screen and (min-width: 1440px) {
	/*DESKTOP*/
	body {
		margin: auto;
		max-width: 1440px;
		padding: 0 50px;
	}
	header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "a . c b";
		align-items: center;
	}
	header img {
		grid-area: a;
	}
	.registerBtn {
		grid-area: b;
	}
	nav {
		grid-area: c;
	}
	.navLink {
		border-top: 4px solid transparent;
		font-size: 1rem;
		padding: 50px 25px;
	}
	.navLink:hover {
		border-top: 4px solid #0065FC;
		color: #0065FC;
	}
	aside {
		width: 420px;
		border-radius: 30px;
	}
	aside article {
		display: flex;
		align-items: center;
		padding-left: 5px;
		height: 145px;
	}
	.asideDivImg {
		margin-right: 20px;
		height: 135px;
		min-width: 35%;
		border-radius: 20px 0 0 20px;
	}
	.asideInfo {
		height: 135px;
		justify-content: space-between;
	}
	#accommodation {
		margin: 0 40px 0 0;
		max-width: 880px;
		background-color: #F2F2F2;
	}
	#accommodation * a {
		width: 245px;
	}
	#activity h2 {
		padding-left: 30px;
	}
	.activityContener {
		display: flex;
		justify-content: space-around;
	}
	.activityXLargeBlock {
		height: 480px;
	}
	.activityLargeBlock {
		height: 270px;
	}
	.activitySmallBlock {
		height: 170px;
	}
	.activityMediumBlock {
		height: 220px;
	}
	div[class^=activityColumn] {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.activityBlockLeft,
	.activityBlockRight {
		justify-content: space-around;
		width: 50%;
	}
}

@media screen and (min-width: 751px) {
	/*DESKTOP & TABLET*/
	.buttonMobile {
		display: none;
	}
	button {
		border-radius: 0 15px 15px 0;
	}
	.activityContener figure {
		margin: 0;
	}
	footer div {
		width: 33.33%;
	}
}

@media screen and (max-width: 1439px) and (min-width: 751px) {
	/*TABLET*/
	aside article {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: 200px;
		padding: 5px;
	}
	.asideArticleList {
		display: flex;
		justify-content: space-between;
	}
	aside a {
		width: 30%;
	}
	.asideDivImg {
		margin-right: 20px;
		height: 100%;
		width: 100%;
		border-radius: 20px 20px 0 0;
	}
	.asideInfo {
		height: 45%;
		padding: 0 10px;
	}
	#accommodation article {
		width: 33.33%;
	}
	.activityColumn2,
	.activityColumn4 {
		display: flex;
		justify-content: space-around;
		width: 66.66%;
	}
	.activityColumn1,
	.activityColumn3 {
		display: flex;
		justify-content: space-around;
		width: 33.33%;
	}
	.activityContener {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.activityContener a {
		display: block;
		width: 100%;
	}
	[class^=activityColumn]>a:nth-child(1) {
		margin-right: 40px;
	}
	.activityBlockLeft {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1439px) {
	/*TABLET & MOBILE*/
	.firstBlock {
		flex-direction: column-reverse;
	}
	main section {
		padding-left: 30px;
		padding-right: 30px;
	}
	header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "a . b" "c c c";
		align-items: center;
	}
	header img {
		grid-area: a;
		margin-left: 30px;
	}
	.registerBtn {
		grid-area: b;
	}
	nav {
		grid-area: c;
	}
	.navLink.registerBtn {
		border-top: 4px solid transparent;
		font-size: 1rem;
		padding: 50px 25px;
	}
	.registerBtn:hover {
		border-top: 4px solid #0065FC;
	}
	.navButton {
		margin-bottom: 30px;
		padding-bottom: 20px;
		width: 50%;
		border-bottom: 4px solid #F2F2F2;
	}
	.navButton:hover {
		border-bottom: 4px solid #0065FC;
	}
	aside {
		width: auto;
	}
	#accommodation {
		width: auto;
	}
	#activity h2 {
		padding-left: 15px;
	}
	.activityContener {
		padding: 0 15px;
	}
	.activityContener figure {
		height: 200px;
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	/*MOBILE*/
	.buttonDesktopTablet {
		display: none;
	}
	form {
		justify-content: space-between;
		border: 1px solid #F2F2F2;
		border-radius: 20px;
	}
	input {
		width: 100%;
	}
	.buttonMobile {
		border-radius: 15px;
		transform: scale(1.05);
	}
	.buttonMobile:hover i {
		transform: scale(1.3);
		transition: .3s;
	}
	aside article {
		width: auto;
		display: flex;
		align-items: center;
		padding-left: 5px;
		height: 145px;
	}
	.asideDivImg {
		margin-right: 20px;
		height: 135px;
		min-width: 30%;
		border-radius: 20px 0 0 20px;
	}
	.asideInfo {
		height: 135px;
		justify-content: space-between;
	}
	#accommodation article {
		width: 100%;
	}
	#accommodation>div {
		flex-direction: column;
	}
	.activityContener div {
		justify-content: space-around;
		flex-direction: column;
	}
	.activityContener figure {
		margin: 0 0 30px 0;
	}
	.activityContener {
		flex-direction: column;
	}
	footer {
		flex-direction: column;
	}
}